.main_main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top_5_cons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
